<a routerLink="/" class="btn-back">Back</a>
<form #addform='ngForm' (ngSubmit)='save(addform.value)'>
  <input 
  type="text" 
  placeholder="Enter Subscriber Name"
  required
  [(ngModel)]="name"
  name="name"
  >
<input 
  type="text" 
  placeholder="Enter Phone Number"
  required
  minlength="10"
  maxlength="10"
  [(ngModel)]="phone"
  name="phone">
  
<p><strong>Subscriber Name: </strong>{{ name }}</p>
<p><strong>Subscriber Phone Number: </strong>{{ phone }}</p>
  <input type="submit">
</form>